:root {
    --gap: 10px;
    --gap-double: calc(var(--gap) * 2);
    --border-radius: 10px;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F4F4F4;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/texture.svg');
    background-size: cover;
    background-color: #000000;

}