@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin txtShadowTxtPrimary {
  color: var(--color-primary);
  text-shadow: var(--shadow-text-primary);
}

@mixin blockShadowPrimary {
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary);
}

@mixin blockShadowSecondary {
  background: var(--bg-secondary);
  box-shadow: var(--shadow-secondary);
}

@mixin actionsElemShadow {
  background: var(--bg-actions-elem);
  box-shadow: var(--shadow-actions-elem);
}

@mixin outlineActiveState {
  outline: var(--outline-active);
  filter: var(--filter-active);
}
